doctype html
html
    head
        title www.Angela'sDanceAcademy.com
        block script 
        block style
    body
        //- nav#navbar 
        //- ul 
        //-     div#logo 
        //-        img(src="https://d3jmn01ri1fzgl.cloudfront.net/photoadking/webp_thumbnail/5feec111709f4_json_image_1609482513.webp")

        //-     li.item #[a Home]
        //-     li.item #[a About Us]
        //-     li.item #[a Services]
        //-     li.item #[a Class Info]
        //-     li.item #[a Contact Us]
        block content
        footer 
            |Copyright &copy; www.Angela'sDanceAcademy.com. All rights reserved!