doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            div#logo 
               img(src="https://d3jmn01ri1fzgl.cloudfront.net/photoadking/webp_thumbnail/5feec111709f4_json_image_1609482513.webp")

            li.item #[a Home]
            li.item #[a About Us]
            li.item #[a Services]
            li.item #[a Class Info]
            li.item #[a Contact Us]
    section#intro 
        div.container Welcome to Angela's dance academy
            div.small From ballet to hip hop,modern to musical theatre,we will inspire you to discover your inner artist
    section#mission
        h1 Our Mission
        div.card 
          h3 Learn Multiple Dance Styles
          div.card-box
            div.card-img 
              img(src="https://cdn.shopify.com/s/files/1/1313/8515/files/The-Top-10-Styles-of-Dance-ballet_large.jpg?v=1486570399")
            div.card-content
                    p Welcome to our dance academy! We offer a variety of dance styles for students of all ages and abilities. From the grace and elegance of ballet to the high-energy moves of hip hop, we have something for everyone. Our talented instructors will guide you through the steps and techniques of each style
        div.card
          h3 Improve Dance Basics and Techniques
          div.card-box
            div.card-img 
              img(src="https://i0.wp.com/organicspa.wpengine.com/wp-content/uploads/2013/01/JAY_SULLIVAN_PHOTOGRAPHER_B8P6664.jpg?resize=600%2C754")
            div.card-content
                    p Are you looking to improve your dance basics and techniques? Our dance academy offers classes for dancers of all levels. Our experienced instructors will help you develop proper technique, increase your strength and flexibility, and hone your skills in a range of dance styles. Join us and take your dancing to the next level
        div.card 
          h3 Learn Trending Dance Choreography
          div.card-box
            div.card-img 
              img(src="https://www.betterteam.com/images/choreographer-job-description-4000x6000-20201124.jpeg?crop=1:1,smart&width=1200&dpr=2")
            div.card-content
                    p Come learn the latest dance choreography at our academy! Our instructors stay up-to-date on the hottest dance trends and will teach you the newest moves and routines. Whether you're a beginner or a seasoned dancer, we have a class for you. Join us and impress your friends with your trendy dance skills!
    section#sponsor
        h1 Our sponsors 
        div#spon 
          img(src="https://m.media-amazon.com/images/M/MV5BM2RjNzRlNjktNGNiZi00NDhkLWExOTktNmRlMzdmOTQwMDMzXkEyXkFqcGdeQXVyOTgyOTAwMTk@._V1_FMjpg_UX1000_.jpg" class="spimage")
          img(src="https://play-lh.googleusercontent.com/fzOLro2JVqIg3ccrDELIvqXQF79LHlDNUKwY2qHQof_yQSNEseqyXTWtlu6Wa14UPA" class="spimage")
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5gx1Asm9Dm78zO-KZWuLnB7uqKU-wfhiaCATbdmXdgZsdmxWzCEIj-v6-RPUsf55ttf8&usqp=CAU" class="spimage")
          img(src="https://st1.bollywoodlife.com/wp-content/uploads/2022/08/indian.png" class="spimage")
    footer 
        |Copyright &copy; www.AngelaDanceAcademy.com. All rights reserved!




    script
      include ../static/index.js